---
title: Photography
layout: default
subtitle: John Walk
support: [jquery, gallery]
---

<h1>{{ page.title }}</h1>

<div id="image-gallery-base" class="image-gallery">
  <div id="gallery-sizer-base" class="gallery-sizer"></div>
  {% for gallery in site.data.galleries.overview %}
  <div class="image-wrapper">
    <a href="{{ site.url }}{{ site.baseurl }}/pages/gallery/{{ gallery.directory }}/" class="image"> <img
        alt="{{ gallery.title }}"
        src="{{ site.url }}{{ site.baseurl }}/images/gallery/{% if gallery.picture_path %}{{ gallery.picture_path }}{% else %}{{ gallery.directory }}{% endif %}/{{ gallery.preview.thumbnail }}" />
    </a>
  </div>
  {% endfor %}
</div>
