<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
     <title>{{ page.title }}{% if page.title %} | {% endif %}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">John Walk</a></h1>

        <p class="view"><a href="/pages/fusionprimer">Fusion Primer</a></p>
        <p class="view"><a href="/pages/projects">Projects</a></p>
        <p class="view"><a href="/pages/publications">Publications</a></p>
        <p class="view"><a href="https://github.com/jrwalk">Github</a></p>
        <p class="view"><a href="https://www.linkedin.com/in/walkjr">LinkedIn</a></p>

      </header>
      <section>
       {{ content }}
      </section>
      <footer>
        <p><small></small></p>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>